@font-face {
    font-family: '2005RobloxFont';
    src: url('https://github.com/tteru31/nkb-hosting-other-stuff/raw/refs/heads/main/2005Roblox.ttf');
    font-weight: normal;
    font-style: normal;
}
